<div class="indexSpot">

  <div class="form">
    <div>
    <form action="/search" method="GET">
    <label>
    </div>
    <div>
        <input type="text" name="artist">
    </label>
    </div>
   
  <button type="submit">Search for an Artist</button>
</form>
 </div>
</div>
